@charset "utf-8";
/* CSS Document */
html, body {
margin:0;
padding:0;
height:100%;
background-color:#DFF9DC;
}	
@keyframes blinker {/*///blinking text animation  used for Processing... animation*/
50% { opacity: 0; }
}
#MainContent{
width:70%;
height:	800px;
margin-left:auto;
margin-right:auto;
background-color: white;
border-radius: 25px;	
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.RedStar{
display:inline-block;
width:10px;
height:10px;
font-weight: bold;
color:rgba(170,15,17,1.00);
animation: blinker 1s linear infinite;	
position:absolute;
padding-right:5px;	
}